<div class="pagination">
  <button
    class="btn"
    (click)="previousPage()"
    [disabled]="currentPage === 1 || isDisabled"
  >
    Previous
  </button>

  <button
    class="btn"
    *ngFor="let _ of [].constructor(totalPages); let i = index"
    [class.active]="currentPage === i + 1"
    (click)="changePage(i + 1)"
    [disabled]="currentPage === i + 1 || isDisabled"
  >
    {{ i + 1 }}
  </button>

  <button
    class="btn"
    (click)="nextPage()"
    [disabled]="currentPage === totalPages || isDisabled"
  >
    Next
  </button>
</div>
