<div class="controls">
  <label>
    View:
    <select [formControl]="selectViewOption">
      <option value="none" disabled>view options</option>
      <option value="list">List</option>
      <option value="cards">Cards</option>
    </select>
  </label>

  <label>
    Items per page:
    <select [formControl]="selectItemsPerPage">
      <option value="none" disabled>items per page</option>
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="20">20</option>
    </select>
  </label>

  <label>
    Search:
    <input #searchInput type="text" />
  </label>
</div>

@if (isLoading$ | async) {
<p>Loading...</p>
} @else {
<ul class="users" [class.list-view]="viewMode === 'list'">
  @for (user of users$ | async; track user.id) { @if (viewMode === 'list') {
  <app-user-row [user]="user"></app-user-row>
  } @else {
  <app-user-card [user]="user"></app-user-card>
  } }
</ul>
} @if ((users$ | async)!.length < totalItems) {
<app-pagination
  [totalItems]="totalItems"
  [itemsPerPage]="itemsPerPage"
  [currentPage]="currentPage"
  (pageChange)="onPageChange($event)"
>
</app-pagination>
}
