<div class="controls">
  <app-view-mode-select [control]="selectViewOption"></app-view-mode-select>

  <app-items-per-page-select [control]="selectItemsPerPage"></app-items-per-page-select>

  <label>
    Search:
    <input #searchInput type="text" />
  </label>
</div>

@if (isLoading$ | async) {
<p>Loading...</p>
} @else {
<ul class="users" [class.list-view]="viewMode === 'list'">
  @for (user of users$ | async; track user.id) { @if (viewMode === 'list') {
  <app-user-row
    [user]="user"
    (removeUser)="onRemoveUser(user.id)"
  ></app-user-row>
  } @else {
  <app-user-card
    [user]="user"
    (removeUser)="onRemoveUser(user.id)"
  ></app-user-card>
  } }
</ul>
} @if ((users$ | async)!.length < totalItems) {
<app-pagination
  [totalItems]="totalItems"
  [itemsPerPage]="itemsPerPage"
  [currentPage]="currentPage"
  [isDisabled]="!!(isLoading$ | async)"
  (pageChange)="onPageChange($event)"
>
</app-pagination>
}
